<ion-view title="{{article.content.title}}">
	<ion-nav-buttons side="left">
		<button class="button button-icon icon ihHeaderIconLeft"
			ng-click="onFavoriteClick(article.inFavorites)"
			ng-class="{ 'ion-ios7-star': article.inFavorites === true,
				 	'ion-ios7-star-outline': !article.inFavorites || article.inFavorites === false }"></button>
	</ion-nav-buttons>

	<ion-content class="has-header ihOverflowScrollY" overflow-scroll="true">

	<div class="card ihArticleContainer" ng-show="article">
		<div class="item ihListItem">
			<p>
				<span class="ihDoubleSlash ihColorRed">{{article.author.name}}</span>
				<span>{{article.date.timestamp | date: 'H:mm'}}</span><span>&nbsp;</span><span>{{article.date.formatted}}</span>
				<span>&nbsp;/</span>
				<span>{{comments.length || 0}}</span>
				<i class="icon ion-ios7-chatboxes-outline"></i>
			</p>
			<h2>{{article.content.title}}</h2>
			<p class="ihArticleIntro">{{article.content.intro}}</p>
		</div>

		<div class="item item-body ihListItem">
			<img class="full-image" ng-src="{{article.mainImageSrc}}">
			<div ng-bind-html="article.content.html"></div>
		</div>
	</div>

	<ih-comments artid="{{artId}}" ng-show="article"></ih-comments>
	<!-- <div class="ihBottomMargin"></div> -->

	</ion-content>
</ion-view>
