<ion-view title="{{categoryName}}">
	<ion-content class="has-header ihSearchResultsContainer ihCategoryContainer ihOverflowScroll" overflow-scroll="true">
		<ion-list can-swipe="false" ng-show="category" class="ihList">
			<ul class="ihArticleListSection">
				<li ng-repeat="cat in category">
					<ion-item class="ihListItem ihArticleListItem">
						<a class="item item-thumbnail-right" href="#/app/articles/{{cat.nid}}">
							<img ng-src="{{cat.images[0].path}}" class="ihArticleImg">
							<h2>{{cat.content.title}}</h2>
							<p>{{cat.content.intro}}</p>
						</a>
					</ion-item>
				</li>
			</ul>
		</ion-list>
		<!-- <div ng-hide="category" class="item item-text-wrap ihListItem">Category is empty</div> -->
	</ion-content>
</ion-view>
