<ion-view title="מועדפים" hide-back-button="true">
	<ion-nav-buttons side="right">
		<button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>

	<ion-content>
		<ion-list ng-show="favorites" class="ihList">
			<ul class="ihArticleListSection ihFavoritesList">
				<li bindonce ng-repeat="(key, value) in favorites">
					<ion-item class="ihListItem ihArticleListItem">
						<a class="item-thumbnail-right" bo-href="'#/app/' + value.type + 's/' + value.nid">
							<img bo-src="value.images[0].path" class="ihArticleImg">
							<!-- <i class="icon ion-ios7-videocam" ng-show="value.videos && value.videos.items.length > 0"></i> -->
							<div class="ihArticleListItemTextWrapper">
								<h2 class="ihArticleListItemTitle" bo-bind="value.content.title"></h2>
								<p class="ihArticleListItemIntro" bo-bind="value.content.intro"></p>
							</div>
							<p class="ihArticleListItemDate">
								<span class="ihDoubleSlash ihColorRed" bo-bind="value.author.name"></span>
								<span bo-bind="value.date.formatted"></span>
							</p>
						</a>
						<ion-option-button class="button ihFavoritesBtn" ng-click="onDeleteFavorite(key)">הסר</ion-option-button>
					</ion-item>
				</li>
			</ul>
		</ion-list>
	</ion-content>

	<div class="ihErrorMsg" ng-show="noResultsFlag == true">
		<div class="card">
			<div class="item item-text-wrap">
				<i class="icon ion-star"></i>
				<h1 ng-bind="noFavoritesTitle"></h1>
				<p ng-bind="noFavoritesMsg"></p>
			</div>
		</div>
	</div>
</ion-view>
