<ion-side-menus>

 	<ion-pane ion-side-menu-content drag-content="false">
		<ion-nav-bar class="bar-assertive nav-title-slide-ios7">
			<ion-nav-back-button class="button-clear"><i class="icon ion-chevron-right"></i> חזור</ion-nav-back-button>
		</ion-nav-bar>

		<toaster-container toaster-options="{'position-class': 'ih-toast-bottom', 'time-out': 2500}"></toaster-container>
		<ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
	</ion-pane>

 	<ion-side-menu side="right">
		<header class="bar bar-header bar-assertive">
			<h1 class="title">תפריט</h1>
		</header>
		<ion-content class="has-header">
			<ion-list class="ihSideMenuList">
				<ion-item nav-clear menu-close href="#/app/search">
					<i class="icon ion-ios7-search-strong"></i>
					חיפוש
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/weather">
					<i class="icon ion-ios7-partlysunny"></i>
					מזג האוויר
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/favorites">
					<i class="icon ion-star"></i>
					מועדפים
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/opinions">
					<i class="icon ion-person-stalker"></i>
					דעות
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/rss">
					<i class="icon ion-radio-waves"></i>
					מבזקים
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/categories">
					<i class="icon ion-android-sort"></i>
					קטגוריות
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/articles">
					<i class="icon ion-home"></i>
					ראשי
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>
