<ion-view title="{{opinion.content.title}}">
	<ion-nav-buttons side="left">
		<button class="button button-icon icon ihHeaderIconLeft"
			ng-click="onFavoriteClick(opinion.inFavorites)"
			ng-class="{ 'ion-ios7-star': opinion.inFavorites === true,
				 	'ion-ios7-star-outline': !opinion.inFavorites || opinion.inFavorites === false }"></button>
	</ion-nav-buttons>
	<ion-content class="has-header ihOverflowScrollY" overflow-scroll="true">

	<div class="card ihArticleContainer" ng-show="opinion">
		<div class="item ihListItem ihOpinionHeaderContainer">
			<p>
				<span class="ihDoubleSlash ihColorRed">{{opinion.author.name}}</span>
				<span>{{opinion.date.timestamp | date: 'H:mm'}}</span><span>&nbsp;</span><span>{{opinion.date.formatted}}</span>
				<span>&nbsp;/</span>
				<span>{{comments.length || 0}}</span>
				<i class="icon ion-ios7-chatboxes-outline"></i>
			</p>
			<h2>{{opinion.content.title}}</h2>
			<p>{{opinion.content.intro}}</p>
		</div>

		<div class="item item-body ihListItem">
			<ion-item class="ihListItem ihArticleListItem ihOpinionAuthorContainer" ng-show="opinion.author.description">
				<span class="item-thumbnail-right ihOpinionAuthorBody">
					<img ng-src="{{opinion.mainImageSrc}}" class="ihArticleImg">
					<p>{{opinion.author.description}}</p>
				</span>
			</ion-item>

			<div ng-bind-html="opinion.content.html"></div>
		</div>
	</div>

	<ih-comments artid="{{opId}}" ng-show="opinion"></ih-comments>
	<!-- <div class="ihBottomMargin"></div> -->

	</ion-content>
</ion-view>
