<div class="modal ihPieContainer">
	<ion-pane>
		<header class="ihPieHeaderContainer">
			<h1 class="title">{{title}}</h1>
		</header>
		<div class="ihPieBodyContainer">
			<div class="ihPieCenter">
				<div class="ipPieCenterPoint"></div>
			</div>
			<ul class="ihPieSlicesContainer ipPieSlicesContainerInitRotate">
				<li ng-repeat="slice in slices"
					ng-click="onSliceWrapperClick($event, $index)"
					class="ihPieSlice ihPieSlice-{{slice.index}}_8">

					<div class="ihPieSliceInner ihPieSliceInner-{{slice.index}}_8"
						ng-class="{ 'ihPieSliceInnerSelected': selectedSlice == slice.index }"
						ng-click="onSliceClick($event, $index)">
						<i class="icon ion-{{slice.icon}}"></i>
						<div class="ihPieSliceSeparator"></div>
					</div>
				</li>
			</ul>
		</div>
	</ion-pane>
</div>