<div class="modal ihPieContainer" ng-click="hideModal($event)" ng-if="shouldShowPie == true">
	<ion-pane>
		<section class="ihPieResultsContainer">

			<i class="icon ion-loading-c ihPieLoadingResult" ng-if="showLoading == true"></i>
			<form action="" ng-if="showSearchInput == true" class="ihPieSearchForm">
				<label class="item item-input">
					<i class="icon ion-search placeholder-icon"></i>
					<input type="text" ng-model="searchQuery" placeholder="אני רוצה לקרוא על...">
				</label>
				<button type="submit" class="button button-block button-stable" ng-click="search(searchQuery)">חפש</button>
			</form>
			<p ng-if="noResultsFlag == true" class="item item-text-wrap ihPieNoResults">לא נמצאו תוצאות</p>
			<p ng-if="connErrorFlag == true" class="item item-text-wrap ihPieNoResults">אירעה שגיאה בעת טעינת נתונים</p>
			<p class="ihPieFullResult ihPieNoResults ihOverflowScrollY" ng-if="showFullResult === true">{{fullResultText}}</p>

			<ul class="ihClearFix ihOverflowScrollX ihNoScrollY">
				<li ng-repeat="(key, value) in favorites" class="item ihListItem ihPieResult">
					<a class="item item-body" href="#/app/articles/{{value.nid}}">
						<img class="full-image" ng-src="{{value.images[0].path}}">
						<h2>{{value.content.title}}</h2>
					</a>
				</li>
				<li ng-repeat="item in rss" class="item ihListItem ihPieResult ihPieResultRSSItem">
					<div class="item item-body">
						<span class="ihDoubleSlash ihColorRed">{{item.date.timestamp | date: 'H:mm'}}</span>
						<h2>{{item.text}}</h2>
					</div>
				</li>
				<li ng-repeat="item in searchResults" class="item ihListItem ihPieResult">
					<a class="item item-body" href="#/app/{{item.type + 's'}}/{{item.nid}}">
						<img class="full-image" ng-src="{{item.images[0].path}}">
						<h2>{{item.content.title}}</h2>
					</a>
				</li>
				<li ng-repeat="(key, value) in categories" class="item ihListItem ihPieResult ihPieResultCategoriesItem">
					<div class="item item-body" ng-click="goToCategory(key)">
						<div class="ihPieResultBadgeWrapper">
							<span class="badge badge-left badge-assertive">{{value.count}}</span>							
						</div>
						<h2>{{key}}</h2>
					</div>
				</li>
				<li ng-repeat="item in category" class="item ihListItem ihPieResult">
					<a class="item item-body" href="#/app/articles/{{item.nid}}">
						<img class="full-image" ng-src="{{item.images[0].path}}">
						<h2>{{item.content.title}}</h2>
					</a>
				</li>
				<li ng-repeat="item in opinions" class="item ihListItem ihPieResult">
					<a class="item item-body" href="#/app/opinions/{{item.nid}}">
						<img class="full-image" ng-src="{{item.images[0].path}}">
						<h2>{{item.content.title}}</h2>
					</a>
				</li>
				<li ng-repeat="subItem in horoscope" class="item ihListItem ihPieResult ihPieResultHoroscopeItem"
					ng-click="showSingleResult(subItem)">
					<div class="item item-body">
						<div class="ihTitle">{{subItem.name}}</div>
						<img ng-src="{{subItem.icon}}" class="ihHoroscopeImg">
						<h2>{{subItem.forecast}}</h2>
					</div>
				</li>
				<li ng-repeat="item in weather" class="item ihListItem ihPieResult">
					<div class="item item-body">
						<div>{{item.city}}</div>
							<div ng-repeat="subItem in item.weather">
								<img ng-src="{{subItem.icon_url}}" class="ihPieResultWeatherImg"
								ng-class="{ 'ihWeatherBGSunny': subItem.description === 'בהיר',
				 							'ihWeatherBGWarm': subItem.description === 'חם',
				 							'ihWeatherBGWarmDry': subItem.description === 'חם ויבש',
				 							'ihWeatherBGCloud': subItem.description === 'מעונן',
				 							'ihWeatherBGCloudRain': subItem.description === 'מעונן חלקית וגשום',
				 							'ihWeatherBGRain': subItem.description === 'גשום',
				 							'ihWeatherBGPartCloud': subItem.description === 'מעונן חלקית' }">
								<p class="ihWeatherDegreeSign">{{subItem.low}}-{{subItem.high}}</p>
								<p class="ihWeatherDescr ihEllipsis">{{subItem.description}}</p>
							</div>
					</div>
				</li>
			</ul>
		</section>
		<header class="ihPieHeaderContainer">
			<h1 class="ihPieTitle" ng-show="showBackLink !== true">{{title}}</h1>
			<h1 class="ihPieBackLink" ng-show="showBackLink === true" ng-click="goBack()">
				<i class="icon ion-chevron-right"></i>{{backLinkText}}
			</h1>
		</header>
		<div class="ihPieBodyContainer">
			<div class="ihPieCenter"
				ng-class="{ 'ihPieSliceOpacity1': sliceAnimState === 'show',
					 		'ihPieSliceOpacity0': sliceAnimState === 'hide' }">
				<div class="ipPieCenterPoint"></div>
			</div>
			<ul class="ihPieSlicesContainer ipPieSlicesContainerInitRotate">
				<li ng-repeat="slice in slices"
					ng-click="onSliceWrapperClick($event, $index)"
					class="ihPieSlice"
					ng-class="{ 'ihPieSliceOpacity1': sliceAnimState === 'show',
					 			'ihPieSliceOpacity0': sliceAnimState === 'hide',
					 			'ihPieSlice-{{slice.index}}_8-show': sliceAnimState === 'show',
					 			'ihPieSlice-{{slice.index}}_8-hide': sliceAnimState === 'hide' }">

					<div class="ihPieSliceInner ihPieSliceInner-{{slice.index}}_8"
						ng-class="{ 'ihPieSliceInnerSelected': selectedSlice == slice.index }"
						ng-click="onSliceClick($event, $index)">
						<i class="icon ion-{{slice.icon}}" ng-click="onSliceClick($event, $index)"></i>
						<div class="ihPieSliceSeparator"></div>
					</div>
				</li>
			</ul>
		</div>
	</ion-pane>
</div>