<ion-view title="תחזית מזג אויר שבועית" hide-back-button="true">
	<ion-nav-buttons side="right">
		<button menu-toggle="right"class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
		<ion-tabs class="tabs-assertive">

			<ion-tab title="היום" on-select="showTabLoading(0)">
			<ion-content class="has-header ihOverflowScrollY" overflow-scroll="true" ng-show="selectedTab == 0">
				<ion-list ng-show="day" class="ihList">
					<ul class="ihArticleListSection ihWeatherList">
						<li bindonce ng-repeat="item in day">
							<div class="item item-divider item-stable" bo-bind="item.city"></div>
							<ion-item class="ihListItem ihWeatherListItem">
								<div bindonce ng-repeat="subItem in item.weather" class="item-thumbnail-right">
									<img bo-src="subItem.icon_url" class="ihArticleImg"
									bo-class="{ 'ihWeatherBGSunny': subItem.description === 'בהיר',
					 							'ihWeatherBGWarm': subItem.description === 'חם',
					 							'ihWeatherBGWarmDry': subItem.description === 'חם ויבש',
					 							'ihWeatherBGCloud': subItem.description === 'מעונן',
					 							'ihWeatherBGCloudRain': subItem.description === 'מעונן חלקית וגשום',
					 							'ihWeatherBGRain': subItem.description === 'גשום',
					 							'ihWeatherBGPartCloud': subItem.description === 'מעונן חלקית' }">
									<p class="ihWeatherDegreeSign" ng-bind-template="{{subItem.low}}-{{subItem.high}}"></p>
									<p class="ihWeatherDescr" bo-bind="subItem.description"></p>
								</div>
							</ion-item>
						</li>
					</ul>
				</ion-list>
			</ion-content>
			</ion-tab>

			<ion-tab title="שבועי" on-select="showTabLoading(1)">
				<ion-content class="has-header ihOverflowScrollY" overflow-scroll="true" ng-show="selectedTab == 1">
					<ion-list ng-show="week" class="ihList">
						<ul class="ihWeatherList">
							<li bindonce ng-repeat="item in week">
								<div class="item item-divider item-assertive" bo-bind="item.city"></div>
								<ion-item class="ihListItem ihWeatherListItem ihWeeklyWeatherListItemContainer">
									<ul class="ihClearFix">
										<li bindonce ng-repeat="subItem in item.weather" class="ihWeeklyWeatherListItem">
											<img bo-src="subItem.icon_url" class="ihWeeklyImg"
											bo-class="{ 'ihWeatherBGSunny': subItem.description === 'בהיר',
						 							'ihWeatherBGWarm': subItem.description === 'חם',
						 							'ihWeatherBGWarmDry': subItem.description === 'חם ויבש',
						 							'ihWeatherBGCloud': subItem.description === 'מעונן',
						 							'ihWeatherBGCloudRain': subItem.description === 'מעונן חלקית וגשום',
						 							'ihWeatherBGRain': subItem.description === 'גשום',
						 							'ihWeatherBGPartCloud': subItem.description === 'מעונן חלקית' }">
											<h2 class="ihWeatherCity" bo-bind="subItem.date | ihParseDate | date: 'dd/MM'"></h2>
											<p class="ihWeatherDegreeSign" ng-bind-template="{{subItem.low}}-{{subItem.high}}"></p>
											<p class="ihWeatherDescr" bo-bind="subItem.description"></p>
										</li>
									</ul>
								</ion-item>
							</li>
						</ul>
					</ion-list>
			</ion-content>
			</ion-tab>

		</ion-tabs>
</ion-view>