
.ihPieResultsContainer {
	min-height: 150px;
	background-color: #DDD;
	/*text-align: right;*/
}
.ihPieResultsContainer > ul {
	white-space: nowrap;
}

.ihPieResult {
	height: 150px;
	width: 90px;
	padding: 0;
	display: inline-block;
	border: none;
	margin-left: 5px;
}
.ihPieResult:last-of-type {
	margin-left: 0;
}
.ihPieResult .item-body {
	padding: 5px;
	height: 100%;
}
.ihPieResult img {
	width: 70px;
	height: 70px;
	border: 1px solid #707070;
	border-radius: 50%;
}
.ihPieResult h2 {
	font-size: 15px;
	line-height: 16px;
	max-height: 64px;
	overflow: hidden;
	text-align: right;
}

.ihPieLoadingResult {
	font-size: 60px;
	position: absolute;
	left: 0;
	right: 0;
	top: 75px;
	margin-top: -30px;
}

.ihPieSearchForm, .ihPieNoResults {
	position: absolute;
	width: 100%;
	top: 88px;
}
.ihPieSearchForm button {
	visibility: hidden;
	position: absolute;
	top: -88px;
}

.ihPieFullResult {
	top: 0;
	max-height: 150px;
	text-align: right;
	font-size: 16px;
	margin: 0px;
	padding: 10px;
}

.ihPieHeaderContainer .ihPieBackLink {
	color: #D53F47;
	/*text-decoration: underline;*/
	cursor: pointer;
	margin-top: 0;
}
.ihPieHeaderContainer .ihPieBackLink .icon {
	position: relative;
	top: 3px;
	left: 5px;
}

.ihPieResultRSSItem h2 {
	padding-top: 10px;
	max-height: 103px;
}

.ihPieResultCategoriesItem h2 {
	position: relative;
	top: 52px;
	text-align: center;
}
.ihPieResultCategoriesItem .ihPieResultBadgeWrapper {
	position: relative;
	top: 42px;
}
.ihPieResultCategoriesItem .badge {
	display: inline-block;
	position: static;
}

.ihPieResultHoroscopeItem .ihTitle {
	text-align: center;
}
.ihPieResultHoroscopeItem h2 {
	font-size: 14px;
	line-height: 14px;
	max-height: 44px;
}