
.ihArticleContainer {
	box-shadow: none;
	margin-bottom: 0;
}
.ihArticleContainer .ihListItem {
	border: none;
	padding: 0;
}
.ihArticleContainer .ihListItem h2, .ihArticleContainer .ihListItem p, .ihArticleCommentsContainer .ihListItem h2, .ihArticleCommentsContainer .ihListItem p{
	text-overflow: clip;
	white-space: normal;
}
.ihArticleContainer .ihListItem h2 {
	margin-top: 0px;
}
.ihArticleContainer .ihListItem p {
	margin-top: 0px;
}
.ihArticleContainer .ihArticleIntro {
	padding-bottom: 10px;
}
.ihArticleContainer .item-body div {
	margin-bottom: 10px;
	overflow-x: hidden;
}

/* facebook links */
.ihArticleContainer .item-body a[href*="on.fb"] {
	color: #3b5998;
}

.ihArticleCommentsContainer li {
	padding: 10px;
	border: none;
}
.ihArticleCommentsContainer .ihArticleCommentTitle, .ihArticleCommentsContainer .ihArticleCommentBody {
	padding: 0;
}
.ihArticleCommentsContainer .ihArticleCommentTitle {
	padding-top: 5px;
}
.ihArticleCommentsContainer .ihArticleCommentBody {
	line-height: 18px;
}
.ihArticleCommentsContainer ul > li {
	border-bottom: 1px solid #DDD;
}.ihArticleCommentsContainer ul > li:last-child {
	border-bottom: none;
}

.ihArticleCommentsShowBtnWrapper {
	padding: 0 10px;
}

.ihHomepageTitleIcon {
	height: 100%;
	background-size: 170px 36px;
	background-image: url('../img/ih_logo_transp.png');
	background-position: center;
	background-repeat: no-repeat;
}