.ihRSSContainerWrapper {
	background-color: #646464;
}
.ihRSSContainer {
	visibility: hidden; /* For animation */
	display: inline-block;
	text-overflow: clip;
	overflow: visible;
	cursor: pointer;
	border: none;
	padding: 7px;
	background-color: transparent;
}
.ihRSSContainer:hover {
	-webkit-animation-play-state: paused;
}
.ihRSSContainer .ihRSSItemTime {
	color: #FF3842;
}
.ihRSSContainer .ihRSSItemText {
	color: white;
}

.ihFavoritesBtn, .ihFavoritesBtn:hover, .ihFavoritesBtn:active {
	background-color: #C9000A;
	color: #DDD;
	font-size: 18px;
	line-height: 100px;
}

.ihFavoritesExistBtn,  .ihFavoritesExistBtn:hover, .ihFavoritesExistBtn:active {
	background-color: #F8F8F8;
	color: #444;
	font-size: 18px;
	line-height: 100px;
}
.ihArticleListItem {
	border: none;
}
.ihArticleListItem .icon {
	position: absolute;
	padding: 20px 10px 15px 15px;
	top: 0;
	left: 0;
	font-size: 25px;
}
.ihArticleListItem a {
	text-decoration: none;
	display: block;
	border: 1px solid #DDD;
	border-bottom: none;
	padding: 0px 110px 0px 10px;
	height: 100px;
}
.ihArticleListItem a .ihArticleImg {
	top: 0px;
	right: 10px;
	max-width: 100px;
	max-height: 100px;
}
.ihArticleMainItem {
	border: none;
}
.ihArticleMainItem.ihListItem .item {
	padding: 0;
	padding-bottom: 10px;
}
.ihArticleMainItem.ihListItem .ihArticleListItemIntro {
	height: auto;
}
.ihArticleMainItem h2, .ihArticleMainItem p, .ihArticleMainItem .ihArticleListItemDate {
	padding-left: 10px;
	padding-right: 10px;
}
.ihArticleMainItem .ihArticleListItemDate {
	padding-top: 0;
}
.ihArticleListSection li:first-child {
	padding-top: 10px;
}
.ihArticleListSection li:last-child {
	padding-bottom: 10px;
}
.ihArticleListSection li:last-child a {
	border-bottom: 1px solid #DDD;
}