
.ihCategoriesList li:last-child .ihCategoriesListItem {
	border-bottom: none;
}
.ihCategoriesListItem {
	border: none;
	padding: 0px 10px;
	border-bottom: 1px solid #A70109;
}
.ihCategoriesListItem a {
	border: none;
}
.ihCategoriesListItem a h2 {
	padding: 10px;
}
.ihCategoriesListItem .badge {
	right: auto;
	left: 20px;
	top: 18px;
}