
body {
	direction: rtl;
}
.item {
	margin: 0;
}

.ihList .item-content{
	padding: 10px;
}
.ihList .list {
	-webkit-overflow-scrolling: touch;
	padding: 0;
}

.ihListItem {
	-webkit-transform: translate3d(0px, 0px, 0px) scale(1);
}
.ihListItem .item {
	padding: 10px;
	border-left: none;
	border-right: none;
}
.ihListItem .item-body {
	border-bottom: none;
}
.ihListItem h2, .ihListItem p {
	margin: 0;
	padding: 5px 0;
}
.ihListItem h2 {
	padding-bottom: 10px;
}
.ihListItem .ihArticleListItemIntro {
	position: relative;
	line-height: 20px;
	height: 40px;
	padding-top: 0px;
	text-overflow: clip;
	white-space: normal;
}
.ihListItem .ihArticleListItemIntro:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70%;
  height: 20px;
  background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 50%);
}
.ihListItem .ihArticleListItemDate {
	padding: 7px 0 0 0;
}

.ihSplash {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	text-align: center;
	background-color: white;
	background-image: url('../img/ih_logo.png');
	background-position: center 45%;
	background-repeat: no-repeat;
	-webkit-transition: opacity 0.3s linear;
}
.ihSplash .icon {
	position: absolute;
	left: 0;
	right: 0;
	top: 60%;
	font-size: 60px;
}

.ihOpacity0 {
	opacity: 0;
}
.ihHide {
	display: none;
}

.ihBottomMargin {
	height: 20px;
}

.ihDoubleSlash:after {
	content: ' //';
}

.ihColorRed {
	color: #C9000A;
}

.ihClearFix:after {
	content: '';
	display: table;
	clear: both;
}

.ihOverflowScroll {
	overflow-y: auto !important;
}

/* Red colors */
.bar.bar-assertive, .item.item-assertive, .badge.badge-assertive {
	background-color: #A70109;
	border-color: #9C0008;
}
/* Grey colors */
.item.item-divider.item-stable {
	background-color: #DDD;
	border-color: #707070;
}
.tab-item {
	font-size: 18px;
	max-width: none;
}
.tabs-assertive > .tabs, .tabs.tabs-assertive {
	background-color: #A70109;
	border-color: #9C0008;
}
.item.item-divider {
	background-color: #A70109;
	border-left: none;
	border-right: none;
}

.ihWeatherDegreeSign {
	direction: ltr;
}
.ihWeatherDegreeSign:after {
	content: ' C°'
}