

.ihOpinionHeaderContainer {
	margin-bottom: 10px;
}
.ihOpinionAuthorBody {
	display: block;
	padding-right: 110px;
}
.ihOpinionAuthorContainer {
	border-top: 1px solid #C9000A !important;
	border-bottom: 1px solid #C9000A !important;
}
.ihOpinionAuthorContainer.ihListItem {
	padding: 10px 0px;
	margin-bottom: 20px;
}
.ihOpinionAuthorContainer .ihArticleImg {
	top: 10px !important;
	right: 0px !important;
	max-width: 100px !important;
	max-height: 100px !important;
	width: 100px !important;
	height: 100px !important;
	border: 1px solid #DDD;
	border-radius: 50%;
}