
.ihRSSList .ihListItem {
	padding: 15px 10px;
	border: none;
	border-bottom: 1px solid #A70109;
}
.ihRSSList ul li:last-child .ihListItem.item {
	border-bottom: none; 
}
.ihRSSList h2, .ihRSSList p {
	padding: 0;
}
.ihRSSList p {
	margin-bottom: 0;
}
.ihRSSList h2 {
	text-overflow: clip;
	white-space: normal;
}