
.ihSideMenuList .item-content {
	padding-right: 40px;
}
.ihSideMenuList .item-complex{
	border-top: none;
	border-left: none;
	border-right: none;
}

.ihSideMenuList .icon {
	position: absolute;
	right: 15px;
	font-size: 20px;
	margin-top: 1px;
}

.ihSideMenuList .ion-ios7-search-strong {
	font-size: 20px;
	right: 16px;
	margin-top: 2px;
}
.ihSideMenuList .ion-ios7-partlysunny {
	font-size: 25px;
	right: 13px;
	margin-top: -2px;
}
.ihSideMenuList .ion-star {
	font-size: 23px;
	margin-top: -1px;
	right: 14px;
}
.ihSideMenuList .ion-person-stalker {
	font-size: 19px;
	right: 14px;
}
.ihSideMenuList .ion-radio-waves {
	font-size: 22px;
	margin-top: 1px;
}

.ihSideMenuList .ion-android-sort {
	font-size: 16px;
	right: 14px;
}

.ihSideMenuList .ion-home {
	font-size: 20px;
	right: 16px;
	margin-top: 0px;
}