
body {
	direction: rtl;
}

.ihRSSContainer {
	visibility: hidden; /* For animation */
	display: inline-block;
	text-overflow: clip;
	overflow: visible;
	cursor: pointer;
	border: none;
	margin: 1px;
}
.ihRSSContainer:hover {
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	-ms-animation-play-state: paused;
	-o-animation-play-state: paused;
	animation-play-state: paused;
}
.ihRSSContainer .ihRSSItemTime {
	color: #C9000A;
}
.ihRSSContainer .ihRSSItemText {
	color: #707070;
}

.ihList .item-content{
	padding: 10px;
}

.ihListItem {
	-webkit-transform: translate3d(0px, 0px, 0px) scale(1);
	-moz-transform: translate3d(0px, 0px, 0px) scale(1);
	-ms-transform: translate3d(0px, 0px, 0px) scale(1);
	-o-transform: translate3d(0px, 0px, 0px) scale(1);
	transform: translate3d(0px, 0px, 0px) scale(1);
}

.ihCategoriesListItem {
	border: none;
	padding-bottom: 5px;
}

.ihCategoriesListItem:last-of-type {
	padding-bottom: 10px;
}

.ihCategoriesListItem .badge {
	right: auto;
	left: 20px;
}

.ihList .list {
	/*overflow-y: scroll;*/
	-webkit-overflow-scrolling: touch;
}

.ihListItem h2, .ihListItem p {
	text-overflow: clip;
	white-space: normal;
}

.ihArticleListItem .icon {
	position: absolute;
	padding: 20px 10px 15px 15px;
	top: 0;
	left: 0;
	font-size: 25px;
}

.ihFavoritesBtn, .ihFavoritesBtn:hover, .ihFavoritesBtn:active {
	background-color: #C9000A;
	color: #DDD;
	font-size: 18px;
	line-height: 120px;
}

.ihFavoritesExistBtn,  .ihFavoritesExistBtn:hover, .ihFavoritesExistBtn:active {
	background-color: #F8F8F8;
	color: #444;
	font-size: 18px;
	line-height: 120px;
}

.ihArticleListItem a {
	text-decoration: none;
	display: block;
	border: 1px solid #DDD;
	padding-top: 10px;
	padding-bottom: 10px;
}

.ihArticleListItem a .ihArticleImg {
	top: 20px;
	right: 20px;
}

.ihArticleContainer .item-body div {
	margin-bottom: 10px;
}

.ihArticleContainer .item-body a {
	text-decoration: none;
	color: #d70010;
}
/* facebook links */
.ihArticleContainer .item-body a[href*="on.fb"] {
	color: #3b5998;
}

.ihRSSList p {
	margin-bottom: 0;
}

.ihBottomMargin {
	height: 20px;
}

.ihErrorMsg {
	width: 100%;
	position: absolute;
	text-align: center;
	top: 50%;
	margin-top: -170px;
}

.ihErrorMsg .card {
	box-shadow: none;
}

.ihErrorMsg .item {
	min-height: 260px;
	padding-top: 35px;
	border: none;
}

.ihErrorMsg .icon {
	font-size: 60px;
}

.ihSideMenuList .item-content {
	padding-right: 40px;
}

.ihSideMenuList .icon {
	position: absolute;
	right: 15px;
	font-size: 20px;
	margin-top: 1px;
}

.ihSideMenuList .ion-ios7-search-strong {
	font-size: 19px;
	right: 16px;
}

.ihSideMenuList .ion-star {
	font-size: 22px;
	margin-top: -1px;
}
.ihSideMenuList .ion-radio-waves {
	font-size: 21px;
	margin-top: 1px;
}

.ihSideMenuList .ion-android-sort {
	font-size: 16px;
	right: 14px;
}

.ihSideMenuList .ion-home {
	font-size: 19px;
	right: 16px;
	margin-top: 0px;
}

.ihDoubleSlash:after {
	content: ' //';
}

.ihDoubleSlashRed {
	color: #C9000A;
}

.ihSearchContainer .list-inset{
	position: relative;
	width: 100%;
}

.ihSearchContainer .ion-search {
	font-size: 18px;
	position: relative;
	right: 10px;
}

.ihSearchResultsContainer {
	top: 190px;
}

.ihSearchResultsContainer .ihNoResults {
	margin: 0;
}
